body,
button,
input {
    font-family: "Circular Air";
    letter-spacing: 0.03em;
    font-size: 16px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: $color-black;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display",
}

h1 {
    font-weight: 500;
    font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

h3 {
    font-size: 2rem;
}

input:focus {
    outline: 0;
}

a {
    text-decoration: none;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



@include breakpoint(min, width, 992px) {
    .container {
        width: 970px;
    }
}

@include breakpoint(min, width, 768px) {
    .container {
        width: 750px;
    }
}

@include breakpoint(min, width, 1200px) {
    .container {
        width: 1170px;
    }
}
