$blue: dodgerblue;
$color-black: #000;
$color-white: #FFFFFF;
$color-facebook: #3b5998;
$box-shadow: 0 0 51px 0 rgba(0, 0, 0, 0.08), 0 6px 18px 0 rgba(0, 0, 0, 0.05);

// Primary gradient
$color-primary-gradient: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);