.btn {
  display: block;
  width: 100%;
  height: 42px;

  margin-top: 16px;
  padding: 8px;

  border: 0;
  border-radius: 90px;
  box-shadow: 0 0 51px 0 rgba(0, 0, 0, 0.08), 0 6px 18px 0 rgba(0, 0, 0, 0.05);
  color: $color-white;
  transition: all 300ms ease-in-out;

  &:hover,
  &:focus {
    color: $color-white;
    outline: 0;
  }

  &:active {
    box-shadow: inherit;
  }

  &--primary {
    background: $color-primary-gradient;

    &:active {
      background-image: $color-primary-gradient;
    }
  }

  &--default {
    background: transparent;
    border: 1px solid $color-primary;
    box-shadow: unset;
    color: $color-primary;
    line-height: 27px;

    &:hover {
      color: $color-primary;
    }
  }

  &--facebook {
    background: linear-gradient(135deg, #0a6aaf 10%, #3a66c1 100%);

    &:active {
      background: linear-gradient(135deg, #0a6aaf 10%, #3a66c1 100%);
    }
  }
}