.navbar__container {
  position: relative;
  height: 60px;
  width: 100%;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;
    padding: 0 16px;
    position: relative;
    top: 0;
    z-index: 1;

    color: white;
    font-size: 18px;
    text-align: center;

    box-shadow: 0 0 45px 5px rgba(16, 16, 16, 0.47);
    background: $color-black;
    border: 0;
    border-radius: 0;

    &-username,
    &-app,
    &-btn {
      flex: 1;
    }

    &-username {
      font-size: 16px;
    }

    &-app {
      font-size: 20px;
    }

    &-btn {
      background: none;
      border: none;
    }
  }
}